---
import { normalizeButtonHref } from '../../../foundation/shared/button-href'

const { href: rawHref, label: rawLabel, text: rawText, ...attributes } = Astro.props
const href = normalizeButtonHref(rawHref)
const label = typeof rawLabel === 'string'
  ? rawLabel
  : typeof rawText === 'string'
    ? rawText
    : ''
---

<a {...attributes} href={href}><slot />{label}</a>
